.app.dark {
    --bg-color: #272727;
    --inverted-bg-color: #fff;

    --primary-color: #fff;
    --inverted-primary-color: #0e0c0d;

    --secondary-color: #aab3c5;
    --inverted-secondary-color: #696f7a;
}
