.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #272727;

    --primary-color: #0E0C0D;
    --inverted-primary-color: #fff;

    --secondary-color: #696F7A;
    --inverted-secondary-color: #aab3c5;
}